/*
    Name: Read CSS
    Version: 0.1.0
    Author: Fredrick Femar Ochieng'
    Email: isfescii@gmail.com
*/



main.read {
  margin: 0%;
  padding: 0;
  display: grid;
  grid-template-columns: 65% 30%;
  justify-content: space-between;
  row-gap: 10px;
  column-gap: 30px;
  position: static;
}

main.read>.story {
  grid-column: 1/2;
  grid-row: 1;
  display: flex;
  flex-flow: column;
  gap: 0px;
  background-color: var(--theme);
  padding: 0px 10px;
}

main.read>.story>.story-header {
  border-bottom: var(--border);
  background-color: var(--theme);
  padding: 22px 0 0 0;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  z-index: 5;
}

main.read>.story>.story-header>ul.tab {
  border: none;
  background-color: var(--theme);
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 5px;
  align-items: center;
}

main.read>.story>.story-content {
  padding: 0;
  display: flex;
  flex-flow: column;
  gap: 10px;
  margin: 0 0 30px 0;
}

main.read>.story>.story-content>h2.story-title {
  /* font-weight: 500; */
  color: var(--text-color);
  /* margin: 15px 0 0 0; */
}

main.read>.story>.story-content>#cover-image {
  /* margin: 15px; */
  align-self: flex-start;
  width: 80%;
  height: 300px;
}

main.read>.story>.story-content>#cover-image>img {
  border: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main.read>.story>.story-content>.article-content * {
  color: var(--text-color);
  line-height: 1.5 !important;
  max-width: 100%;
}
main.read>.story>.story-content>.article-content p {
  margin: 7px 0 5px 0 !important;
}
main.read>.story>.story-content>.article-content ol,
main.read>.story>.story-content>.article-content ul {
  margin: 5px 0 10px 0 !important;
  padding: 0 0 0 30px !important;
}

main.read>.story>.story-content>.article-content a {
  color:  var(--link-color);
  text-decoration: none;
}

main.read>.story>.story-content>.article-content a:hover{
  text-decoration: underline;
}

main.read>.story>.story-content>.article-content h1{
  line-height: 1.2 !important;
  font-size: 1.6rem;
  /* margin: 15px 0 5px 0; */
}
main.read>.story>.story-content>.article-content h2{
  line-height: 1.2 !important;
  font-size: 1.2rem;
  /* margin: 7px 0 5px 0; */
}
main.read>.story>.story-content>.article-content h3,
main.read>.story>.story-content>.article-content h4,
main.read>.story>.story-content>.article-content h5,
main.read>.story>.story-content>.article-content h6 {
  padding: 0% !important;
  /* margin: 4px 0; */
  /* font-size: initial !important; */
}


main.read>.story>.story-content>.article-tags {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 0 0 50px 0;
}

main.read>.story>.story-content>.article-tags>a {
  text-decoration: none;
  color: var(--gray-color);

}

main.read>.story>.story-content>.article-tags>a:hover {
  color: var(--main-color);

}

main.read>.story>.story-content>.comments-action {
  border: var(--border);
  align-self: center;
  padding: 8px 5px 8px 10px;
  background-color: var(--modal);
  box-shadow: var(--box-shadow);
  position: fixed;
  bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  border-bottom-left-radius: 18px;
}
main.read>.story>.story-content>.comments-action>.action {
  border-right: var(--border);
  text-decoration: none;
  font-size: 1rem;
  color: var(--gray-color);
  align-self: center;
  padding: 0px 10px;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}
main.read>.story>.story-content>.comments-action>span.like {
  position: relative;
  padding: 0;
  margin: 0 0 0 18px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
main.read>.story>.story-content>.comments-action>span.like:hover{
  color:var(--expand-color);
}
main.read>.story>.story-content>.comments-action>span.like:hover *{
  stroke: var(--expand-color);
}
.comments-action>span.like>label>span{
  padding: 0px 10px 0px 5px;
  cursor: pointer;
}
.comments-action>span.like  svg {
  position: absolute;
  left: -21px;
  top: -5px;
  cursor: pointer;
  overflow: visible;
  width: 28px;
  margin: 0px;
  padding: 0px;
  border-radius: 50px;
}
.comments-action>span.like  svg #heart {
  padding: 0px;
  transform-origin: center;
  animation: animateHeartOut .3s linear forwards;
}
.comments-action>span.like  svg #main-circ {
  transform-origin: 29.5px 29.5px;
}
.comments-action>span.like  .checkbox {
  display: none;
  flex-flow: row;
  align-items: center;
  gap: 3px;
}
.comments-action>span.like  .checkbox:checked+label>span{
  color: var(--expand-color);
}
.comments-action>span.like  .checkbox:checked+label svg #heart{
  transform: scale(0.2);
  fill: var(--expand-color);
  width: 30px;
  stroke: none;
  animation: animateHeart .3s linear forwards .25s;
}

.comments-action>span.like  .checkbox:checked+label svg #main-circ {
  transition: all 2s;
  animation: animateCircle .3s linear forwards;
  opacity: 1;
  stroke: none;
}
.comments-action>span.like  .checkbox:checked+label svg #grp1 {
  opacity: 1;
  transition: .1s all .3s;
  stroke: none;
}
.comments-action>span.like  .checkbox:checked+label svg #grp1 #oval1 {
  transform: scale(0) translate(0, -30px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
  stroke: none;
}
.comments-action>span.like  .checkbox:checked+label svg #grp1 #oval2 {
  transform: scale(0) translate(10px, -50px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
  stroke: none;
}
.comments-action>span.like  .checkbox:checked+label svg #grp2 {
  opacity: 1;
  transition: .1s all .3s;
  stroke: none;
}
.comments-action>span.like  .checkbox:checked+label svg #grp2 #oval1 {
  transform: scale(0) translate(30px, -15px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
  stroke: none;
}
.comments-action>span.like  .checkbox:checked+label svg #grp2 #oval2 {
  transform: scale(0) translate(60px, -15px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
  stroke: none;
}
.comments-action>span.like  .checkbox:checked+label svg #grp3 {
  opacity: 1;
  transition: .1s all .3s;
  stroke: none;
}
.comments-action>span.like  .checkbox:checked+label svg #grp3 #oval1 {
  transform: scale(0) translate(30px, 0px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
  stroke: none;
}
.comments-action>span.like  .checkbox:checked+label svg #grp3 #oval2 {
  transform: scale(0) translate(60px, 10px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
  stroke: none;
}
.comments-action>span.like  .checkbox:checked+label svg #grp4 {
  opacity: 1;
  transition: .1s all .3s;
  stroke: none;
}
.comments-action>span.like  .checkbox:checked+label svg #grp4 #oval1 {
  transform: scale(0) translate(30px, 15px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
  stroke: none;
}
.comments-action>span.like  .checkbox:checked+label svg #grp4 #oval2 {
  transform: scale(0) translate(40px, 50px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
  stroke: none;
}
.comments-action>span.like  .checkbox:checked+label svg #grp5 {
  opacity: 1;
  transition: .1s all .3s;
  stroke: none;
}
.comments-action>span.like  .checkbox:checked+label svg #grp5 #oval1 {
  transform: scale(0) translate(-10px, 20px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
  stroke: none;
}
.comments-action>span.like  .checkbox:checked+label svg #grp5 #oval2 {
  transform: scale(0) translate(-60px, 30px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
  stroke: none;
}
.comments-action>span.like  .checkbox:checked+label svg #grp6 {
  opacity: 1;
  transition: .1s all .3s;
  stroke: none;
}
.comments-action>span.like  .checkbox:checked+label svg #grp6 #oval1 {
  transform: scale(0) translate(-30px, 0px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
  stroke: none;
}
.comments-action>span.like  .checkbox:checked+label svg #grp6 #oval2 {
  transform: scale(0) translate(-60px, -5px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
  stroke: none;
}
.comments-action>span.like  .checkbox:checked+label svg #grp7 {
  opacity: 1;
  transition: .1s all .3s;
  stroke: none;
}
.comments-action>span.like  .checkbox:checked+label svg #grp7 #oval1 {
  transform: scale(0) translate(-30px, -15px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
  stroke: none;
}
.comments-action>span.like  .checkbox:checked+label svg #grp7 #oval2 {
  transform: scale(0) translate(-55px, -30px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
  stroke: none;
}
.comments-action>span.like  .checkbox:checked+label svg #grp2 {
  opacity: 1;
  transition: .1s opacity .3s;
  stroke: none;
}
.comments-action>span.like  .checkbox:checked+label svg #grp3 {
  opacity: 1;
  transition: .1s opacity .3s;
  stroke: none;
}
.comments-action>span.like  .checkbox:checked+label svg #grp4 {
  opacity: 1;
  transition: .1s opacity .3s;
  stroke: none;
}
.comments-action>span.like  .checkbox:checked+label svg #grp5 {
  opacity: 1;
  transition: .1s opacity .3s;
  stroke: none;
}
.comments-action>span.like  .checkbox:checked+label svg #grp6 {
  opacity: 1;
  transition: .1s opacity .3s;
  stroke: none;
}
.comments-action>span.like  .checkbox:checked+label svg #grp7 {
  opacity: 1;
  transition: .1s opacity .3s;
  stroke: none;
}
@keyframes animateCircle {
  40% {
    transform: scale(10);
    opacity: 1;
    fill: #DD4688;
  }
  55% {
    transform: scale(11);
    opacity: 1;
    fill: #D46ABF;
  }
  65% {
    transform: scale(12);
    opacity: 1;
    fill: #CC8EF5;
  }
  75% {
    transform: scale(13);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: .5;
  }
  85% {
    transform: scale(17);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: .2;
  }
  95% {
    transform: scale(18);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: .1;
  }
  100% {
    transform: scale(19);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: 0;
  }
}

@keyframes animateHeart {
  0% {
    transform: scale(0.2);
  }
  40% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes animateHeartOut {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

main.read>.story>.story-content>.comments-action>.dots-mobile,
main.read>.story>.story-content>.comments-action>.dots {
  border-right:none;
  text-decoration: none;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  height: 20px;
  min-height: 20px;
  width: 30px;
  min-width: 30px;
  margin: 0px 15px 0px 5px;
  gap: 3px;
}

main.read>.story>.story-content>.comments-action>.dots-mobile{
  display: none;
  margin: 0px 15px 0px 0px;
}

main.read>.story>.story-content>.comments-action>.dots-mobile>span.dot,
main.read>.story>.story-content>.comments-action>.dots>span.dot {
  display: inline-block;
  width: 6px;
  min-width: 6px;
  height: 6px;
  min-height: 6px;
  background-color: var(--gray-color);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

main.read>.story>.story-content>.comments-action>.dots-active {
  background-color:  var(--back-one-color);
  color: var(--accent-color);

}

main.read>.story>.story-content>.comments-action>.dots-active>span.dot {
  background-color: var(--accent-color);
}

main.read>.story>.story-content>.comments-action>.action>i{
  font-size: 1rem;
}
main.read>.story>.story-content>.comments-action>.action>i.bi-heart {
  margin-top: 3px;
}

main.read>.story>.story-content>.comments-action>.comment:hover {
  color: var(--main-color);
}


.options-modal{
  border: var(--border);
  background-color: var(--modal);
  box-shadow: var(--box-shadow);
  display: none;
  flex-flow: column;
  gap: 0%;
  padding: 0 0;
  position: absolute;
  width: 190px;
  right: 0px;
  bottom: 45px;
  top: unset;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.options-modal>.pointer {
  border: var(--border);
  border-top: flex;
  border-left: none;
  background-color: var(--modal);
  display: inline-block;
  width: 10px;
  height: 10px;
  position: absolute;
  right: 29px;
  bottom: -5px;
  top: unset;
  rotate: 45deg;
}

.options-modal>.options{
  padding: 0;
  z-index: 12;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 0px;
  background-color: var(--modal);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.options-modal>.options>.more-options{
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  min-width: 100%;
}

.options-modal>.options>.popup>.content{
  display: flex;
  flex-flow: column;
  width: 100%;
}

.options-modal>.options>.more-options>.options-item{
  width: 100%;
  display: flex;
  padding: 7px 10px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 15px;
  cursor: pointer;
  color: var(--gray-color);
}
.options-modal>.options>.more-options>.options-item:hover {
  background-color: var(--modal-hover-background);
  color: var( --text-color);
}

.options-modal>.options>.more-options>.options-item:first-of-type{
  padding-bottom: 10px;
  border-top-right-radius: 15px;
}
.options-modal>.options>.more-options>.options-item:last-of-type{
  padding-bottom: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.options-modal>.options>.more-options>.options-item>.option-details{
  width: 70%;
  display: flex;
  flex-flow: column;
}
.options-modal>.options>.more-options>.options-item>i{
  color: inherit;
  font-size: 0.9rem;
  color: inherit;
  align-self: start;
  margin-top: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.options-modal>.options>.more-options>.options-item:first-of-type>i{
  font-size: 1rem;
}
.options-modal>.options>.more-options>.options-item>.option-details>.detail-title{
  font-size: 1rem;
  color: inherit;
  color: inherit;
}

.options-modal>.options>.more-options>.options-item>.option-details>.detail-title::first-letter{
  text-transform: capitalize;
}
.options-modal>.options>.more-options>.options-item>.option-details>.detail-text{
  font-size: 0.8rem;
  color: inherit;
}


/*
  Side-content
*/
main.read>.author {
  grid-row: 1;
  grid-column: 2/3;
  padding: 0 10px;
  justify-self: end;
  display: flex;
  flex-flow: column;
  gap: 10px;
  height: max-content;
  position: sticky;
  top: 0px;
}

main.read>.author>.icons {
  border-bottom: var(--border);
  display: flex;
  gap: 15px;
  justify-content: flex-end;
  align-items: flex-end;
  position: sticky;
  top: 0px;
  background-color: var(--theme);
  padding: 15px 0 10px 0;
  z-index: 5;
  margin: 0;
}

main.read>.author>.icons>.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

main.read>.author>.icons>.icon>.icon-link {
  text-decoration: none;
  color: var(--gray-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

main.read>.author>.icons>.icon>.icon-link>span.icli {
  /* font-size: 1.7rem; */
  font-size: 1.5rem;
  color: inherit;
}

main.read>.author>.icons>.icon>.icon-link>.tooltip {
  display: none;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 3px 10px;
  /* top: 35px; */
  bottom: 0px;
  left: unset;
  width: max-content;
  background-color: var(--theme);
  border: var(--border);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

main.read>.author>.icons>.icon>.icon-link>.search {
  /* display: none; */
  /* left: -100%; */
  right: 31px;
}

main.read>.author>.icons>.icon>.icon-link>.notification {
  /* display: none; */
  /* left: -200%; */
  right: 31px;
}

main.read>.author>.icons>.icon>.icon-link>.tooltip>.pointer {
  display: inline-block;
  width: 7px;
  height: 7px;
  position: absolute;
  right: -4px;
  left: unset;
  rotate: 45deg;
  background-color: var(--theme);
  border-top: var(--border);
  border-right: var(--border);
}

main.read>.author>.icons>.icon>.icon-link>.search>.pointer {
  /* left: 32px; */
  left: unset;
}

main.read>.author>.icons>.icon>.icon-link>.dot {
  position: absolute;
  top: 2px;
  left: unset;
  right: 3px;
  display: inline-block;
  width: 7px;
  height: 7px;
  background-color: var(--red-color);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

main.read>.author>.icons>.icon>.icon-link:hover {
  color: var(--main-color);
}

main.read>.author>.icons>.profile {
  cursor: pointer;
  width: max-content;
  height: max-content;
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5px 0px 0px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

main.read>.author>.icons>.profile>.image-section {
  display: flex;
  align-items: center;
  gap: 5px;
}

main.read>.author>.icons>.profile>.image-section>.image {
  width: 28px;
  height: 28px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

main.read>.author>.icons>.profile>.image-section>.image>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px
}

main.read>.author>.icons>.profile>.image-section>span.icli {
  color: var(--gray-color);
  font-size: 1.2rem;
  color: var(--main-color);
}

main.read>.author>.author-info {
  padding: 0;
  display: flex;
  flex-flow: column;
  height: max-content;
  gap: 8px;
  margin-top: 5px;
}

main.read>.author>.author-info>.profile {
  width: 100%;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 0;
}

main.read>.author>.author-info>.profile>.container {
  display: flex;
  align-items: center;
  flex-flow: row;
  flex-wrap: nowrap;
  gap: 10px;
}

main.read>.author>.author-info>.profile>.container>.image {
  align-self: center;
  width: 38px;
  height: 38px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

main.read>.author>.author-info>.profile>.container>.image>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

main.read>.author>.author-info>.profile>.container>.info {
  align-self: flex-start;
  text-decoration: none;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  gap: 1px;
  color: var(--text-color);
}

main.read>.author>.author-info>.profile>.container>.info>.name {
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--text-color);
  padding: 0%;
  margin: 0%;
}

main.read>.author>.author-info>.profile>.container>.info>.name:hover {
  text-decoration: underline;
}

main.read>.author>.author-info>.profile>.container>.info>.info {
  font-size: 0.8rem;
  color: var(--gray-color);
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  align-items: center;
}

main.read>.author>.author-info>.footer {
  display: flex;
  flex-flow: column;
  gap: 10px;
  margin: 0;
}

main.read>.author>.author-info>.footer>.stats {
  margin-top: 5px;
  font-size: 0.93rem;
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--gray-color);
}

main.read>.author>.author-info>.footer>.stats>.stat {
  display: flex;
  /* padding: 2px; */
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}

main.read>.author>.author-info>.footer>.stats>.stat:hover {
  /* border-bottom:  var(--border); */
  text-decoration: underline;
}

main.read>.author>.author-info>.footer>.stats>.stat>span.no {
  font-size: 0.90rem;
}

main.read>.author>.author-info>.footer>.stats>span.dot {
  display: inline-block;
  margin-top: 1px;
  width: 4px;
  height: 4px;
  background-color: var(--dot-color);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

main.read>.author>.author-info>.footer>.actions {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 25px;
}

main.read>.author>.author-info>.footer>.actions>.message {
  border: var(--border);
  font-size: 0.9rem;
  color: var(--gray-two);
  text-decoration: none;
  height: max-content;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  padding: 3px 12px 4px 12px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

main.read>.author>.author-info>.footer>.actions>.message:hover{
  border: var(--button-border);
  border-left: var(--button-border-left);
  border-bottom: var(--button-border-left);
  color: transparent;
  background: var(--button-background);
  background-color: var(--main-color);
  background-size: 400% 400%;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
}

main.read>.author>.author-info>.footer>.actions> .follow {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  padding: 4px 15px 4px 12px;
  border: none;
  background: var(--button-background-two);
  color: var(--button-text-one);
  background-color: var(--main-color);
  background-size: 500% 500%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

main.read>.author>.author-info>.footer>.actions> .following {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  padding: 3px 12px 4px 12px;
  border: var(--button-border);
  border-left: var(--button-border-left);
  border-bottom: var(--button-border-left);
  color: transparent;
  background: var(--button-background);
  background-color: var(--main-color);
  background-size: 400% 400%;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}


main.read>.author>section.info {
  display: flex;
  flex-flow: column;
  margin-top: 15px;
  gap: 10px;
}

main.read>.author>section.info>.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 5px 8px 5px;
}

main.read>.author>section.info>.head>h4.title {
  color: var(--text-color);
  margin: 0;
  font-size: 1rem;
}

main.read>.author>section.stats {
  display: flex;
  flex-flow: row;
  row-gap: 20px;
  padding-bottom: 20px;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--border);
}

main.read>.author>section.info>.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 5px 0px 5px;
}

main.read>.author>section.stats>.stat {
  grid-row: 1;
  width: 120px;
  height: max-content;
  display: flex;
  flex-flow: column;
  gap: 10px;
  padding: 10px 50px 15px 10px;
  border: var(--button-border);
  border-left: var(--button-border-left);
  border-bottom: var(--button-border-left);
  color: transparent;
  background: var(--button-background);
  background-color: var(--main-color);
  background-size: 400% 400%;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

main.read>.author>section.stats>.stat>.no {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 5px;
  color: transparent;
}

main.read>.author>section.stats>.stat>.no>i {
  font-size: 1.2rem;
}

main.read>.author>section.stats>.stat>p.text {
  margin: 0 3px;
  padding: 0;
  font-size: 1rem;
  color: var(--text-color);
  padding-left: 10px;
  border-left: 3px solid var(--main-color);
  text-transform: capitalize;
}

main.read>.author>section.credentials {
  display: flex;
  flex-flow: column;
  gap: 10px;
  margin: 5px 0 0 0;
}

main.read>.author>section.info>ul.infos {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-flow: column;
  gap: 8px;
}

main.read>.author>section.info>ul.infos>li.info-item {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  color: var(--text-color);
}

main.read>.author>section.info>ul.infos>li.info-item>span.icon {
  background-color: var(--back-one-color);
  color: var(--gray-color);
  padding: 5px 5px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

main.read>.author>section.info>ul.infos>li.info-item>span.icon>i {
  font-size: 0.85rem;
  color: var(--gray-color);
}

main.read>.author>section.info>ul.infos>li.info-item>span.details {
  font-size: 0.93rem;
  align-self: center;
  display: flex;
  align-items: center;
}

main.read>.author>section.info>ul.infos>li.info-item>span.details>span.name>span.duration {
  color: var(--gray-color);
  font-size: 0.8rem;
}

main.read>.author>section.info>a.all {
  text-decoration: none;
  margin-left: 8px;
  padding: 3px 5px;
  color: var(--gray-color);
  font-size: 0.9rem;
  width: max-content;
}

main.read>.author>section.info>a.all:hover {
  color: var(--main-color);
  text-decoration: underline;
}
